.productsDashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productItem{
    width: 80%;
    margin: 1rem;
    border-bottom: solid 1px black;
    padding-bottom: .6rem;
}
.productItem:hover{
    cursor: pointer;
}
.productItem p{
    width: 40%;
}
h3{
    font-size: 16px;
}
.priceTitle{
    margin: 0px;
    padding: 0px;
}
.userTable{
    width: 20%;
    border-right: solid 1px rgba(0, 0, 0, 0.250);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.userTable button{
    font-size: 24px;
    padding: .2rem 1rem;
}
.userTable input{
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.26);
    outline: none;
}
.descriptionFields{
    display: flex;
    align-items: center;
    width: 60%;
    margin-top: 1.5rem;
}
.editionField{
    padding: .5rem;
    border: solid 1px saddlebrown;
    border-radius: 0 0 12px 12px;
    border-top: none;
}