nav{
    background-color: #071013;
    color: white;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: white;
}
nav h2{
    font-family: 'Ephesis', cursive;
    
}
nav h2:hover{
    cursor: pointer;
}
nav div{
    display: flex;
    width: 60%;
}
nav input{
    width: 80%;
    padding: .8rem 2rem;
    border-radius: 12px 0 0 12px;
    border: none;
    outline: none;
}
nav button{
    border-radius: 0 12px 12px 0;
    border: none;
}
nav button:hover{
    cursor: pointer;
}
.mallButton{
    color: white;
    background-color: transparent;
}
.navIcon{
    font-size: 1.2em;
    font-weight: 600;
}
#loginWindow{
    display: flex;
    flex-direction: column;
    width: 10%;
    padding: .5rem;
    background-color: #07101362;
    position: absolute;
    left: 87%;
    top: 15%;
    font-size: 12px;
    z-index: 99;
}
#loginWindow button{
    padding: .8rem .2rem;
    border-radius: 4px;
}